@font-face {
  font-family: 'Futura';
  src: url('./font/FuturaCondensedMedium.otf');
}

@font-face {
  font-family: 'FuturaBold';
  src: url('./font/FuturaCondensedExtraBold.ttf');
}

@font-face {
  font-family: 'IMFell';
  src: url('./font/IMFellDoublePica-Italic.ttf');
}

@font-face {
  font-family: 'Baroque';
  src: url('./font/BaroqueTextJFRegular.ttf');
}


body{
    margin: 0;
  padding: 0;
  font-size: 20px;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(./res/background.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


b {
  font-family: 'FuturaBold';
}

.titleSection{
  margin-top: 50px;
  width: 100%;
  background-image: url("./res/recOrange.png");
  background-size:100% 100%;
  text-align: center;
}
.title{
  font-size: 20px;
  font-family: 'Futura';
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.titleTitleImage{
  max-width: 350px;
  margin-bottom: -15px;
}

.titleComposerName{
  margin-left: 100px;
}

.composer{
  font-size: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-style: bold;
}

.playbutton{
  font-family: sans-serif;
  color: white;
  text-align: center;
  background-color: #f194ff;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  max-width: 370px;
}


.playback{
display:  none;
}
.iconSpan{
  display:inline-block;
  height: 60px;
}

.playerIcon{
  max-width: 60px;
  max-height: 60px;
  background-image: url("./res/recGreen.png");
  border-radius:  30px;
  height: 60px;
}

.customPlayer{
  padding-bottom: 10px;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  vertical-align: middle;
  max-width: 320px;
}
.timestampSpan{
    display:inline-block;
  background-image: url("./res/recGreen.png");
  border-radius:  15px;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  vertical-align: bottom;
  font-family: 'Futura';
}

.content{
  background-image: url("./res/recGreen.png");
    background-size:100% 100%;
  padding: 20px;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  font-family: 'Futura';
/*  display: none;
*/}

.playDivWithImage{
    background-image: url("./res/blobOrangePlay.png");
    background-size: 100% 100%;
  padding: 10px 0px 10px 40px;
  margin-top: 30px;
  margin-left: 100px;
  font-size: 85px;
  font-family: 'IMFell';
}


.letsMakeMusic{
  background-size:100% 100%;
  padding: 0px;
  font-size: 25px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top:  35px;
  max-width: 340px;
  font-family: 'Futura';
}

.funFont{
  font-family: 'IMFell';
}

.veryFunFont{
  font-family: 'Baroque';
  vertical-align: 4px
}

.cantDecide{
  background-image: url("./res/blobOrangeCantDecide.png");
  background-size:100% 100%;
  transform: rotate(-5deg);
  font-size: 20px;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.makeMusicText{
  font-family: 'IMFell';
  margin-top: 10px;
  padding-top: 15px;
  font-size: 1.1em;
  transform: rotate(-5deg);
}

.headerA{
  font-family: 'IMFell';
  font-size: 45px;
  background-image: url("./res/recOrange.png");
    background-size:100% 100%;

  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  text-align: center;
  margin-top: 20px;

}

.credits{
  background-color: #FFFFFFa0;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 370px;
}

.mapImage{
    max-width: 320px;
}

.playImage{
    max-height: 200px;
}

.playBlobImage{
  max-width: 200px;
}

.appImage {
max-width: 150px;
margin-top: 15px;
margin-bottom: 15px;
style="display: inline;
}

/* unvisited link */
a:link {
  color: #000000;
}

/* visited link */
a:visited {
  color: #000000;
}

/* mouse over link */
a:hover {
  color: #888888;
}

/* selected link */
a:active {
  color: #000000;
}

.raquelLink {
  text-decoration: none;
}